.login{
    width:780px;
    height:350px;
    background:url(image/bg.jpg)no-repeat;
    background-size:780px 350px;
    margin:100px auto;
    opacity:0.8;
    border:1px solid #999;
}
.login-box{
    margin:35px auto;
    width:509px;
    height:280px;
    border:1px solid #999;
    background:rgba(255,255,255,0.7);
    border-radius:10px;
    color:#000;
    box-shadow:2px 2px 8px ;
}
.caption{
    margin-top:22px;
    margin-left:14px;
    padding-bottom:6px;
    display:block;
    font-size:8px;
    width:480px;
    height:15px;
    color:#000;
    border-bottom:1px solid #999;
}
.caption s,span{
    color:blue;
}
.login-text{
    font-size:8px;
    width:460px;
    height:197px;
    margin:3px auto 50px;
}
.span1,.span2,.span3,.span4,.span5,.span6,.span7{
    display:inline-block;
    width:230px;
    height:20px;
    font-size:4px;
    margin-left: 3px;
}
input{
    width:160px;
    height:20px;
    border-radius:5px;
    margin:3px 0px;
    border:1px solid #ccc;
}
.yzm{
    width:80px;
}
.picyzm{
    width:76px;
    height:26px;
    font-size:6px;
}
.zhuce{
    outline:none;
    width:76px;
    height:25px;
    background:blue;
    color:#fff;
    border:1px solid #ccc;
    margin-left:80px;
    margin-top:10px;
}