
#logging.config=classpath:log4j.xml
    
# 是否开启加密
isSecret: true
#日志  
logging:
  file: "C:/Users/EDZ/git/springboot-test/springboot-test-project/log/dev/dev.log"
  pattern:
    level: "%5p"
    file: "%date %-5level [%thread] %logger{0} [%file:%line] - %msg%n"
    console: "%date %-5level %logger{0} - %msg%n"
# 文件上传下载配置
file:
  dowmload:
    fileDirectory: "/src/main/resources/file"
  upload:
    fileDirectory: "/src/main/resources/file"
server:  port: 8081
# 数据库配置
spring:
  jpa:
    show-sql: true
  datasource:
    one:
      jdbc-url: jdbc:postgresql://localhost:5432/postgres
      driver-class-name: org.postgresql.Driver
      username: ENC(bgycBQxsrtvJcyqyUmOeUixA2hZdCOVX)
      password: ENC(9XNfyAmJJD6IfFnDg3nrsA==)     
    two: 
      jdbc-url: jdbc:sqlite:C:/Users/EDZ/sqlite3/database/user.db
      driver-class-name: org.sqlite.JDBC
      username:
      password:
      
      
